.header{
    display: flex;
    margin-top: 2%;
    height: 60px;
}

.header .title{
    width: 50%;
    color: white;
    display: flex;
    align-items: center;
}

.title span{
    margin-left: 5%;
    font-family: 'Tangerine', serif;
    font-size: 40px;
    text-transform: capitalize;
    font-weight: bold;
}



.header .links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

.links .link{
    color: white;
    height: 80%;
    line-height: 48px;
    padding: 0 5%;
    font-weight: bolder;
    text-transform: capitalize;
    border-radius: 30px;
    box-shadow: 1px 1px 10px 1px black;
    text-decoration: none;
}

Link{
    text-decoration: none;
}

.file-icon{
    font-size: 50px;
}