.cust-logo{
    display: flex;
    align-items: center;
}

.file-icon{
    font-size: 36px;
    height: 80%;
}

.header span{
    font-family: 'Tangerine', serif;
}

.header{
    background:  #ee6e73;
}